*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: sans-serif;
  background: #34495e;
}
.box h1{
    color: white;
   font-weight: 500;
   text-transform: uppercase;
   background: none;
}

 .box{
    width: 400px;
   padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
 }
 .box input[type= "text"], .box input[type= "password"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    margin: 20px  auto;
    border: 2px solid;
    padding: 10px 14px;
    outline: none;
    width: 200px;
    border-radius: 24px;
    color: white;
    transition: 0.25s;
    
    
 }

 .box input[type= "text"]:focus, .box input[type= "password"]:focus{
    width: 280px;
    border-color: blue;

 }
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    margin: 20px  auto;
    padding: 10px 40px;
    outline: none;
    border: 2px solid #24cc71;
     cursor: pointer;
    border-radius: 24px;
    color: white;
    transition: 0.25s; 
}
.box input[type="submit"]:hover{
    color: #cca524;
}
